.header {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 3.5rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color-20);
}

@media (max-width: 1120px) {
    .header{
        padding: 0 1.5rem;
        padding-top: 1rem;
        flex-direction: column;
    }
}